name: bare_metal_dsp
description: High-performance bare-metal C++ DSP Engine via FFI
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter
  
  # C++ Native Bridge & Memory Management
  ffi: ^2.1.3
  
  # State Management (Strict Separation of UI and DSP logic)
  flutter_bloc: ^8.1.6
  
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true